.discBox {
    flex-basis: calc(100% / 4);
        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }
}

.filterBox {
    margin-bottom: 25px;
        form {
            select {
                outline: none;
            }
        }
}